@model FeedbackPlatform.Models.Response

<div id="checkBox" class="ridge" style="display:none">
    <table>
        <tr class="row">
            <td class="checkBox-for-response">
                <label class="checkmark-label"><input type="checkbox" value="" class="checkmark" disabled></label>
            </td>
            <td class="input-for-response">@Html.TextBoxFor(m => m.Content, new { @class = "form-control createSurveyInput" })</td>
            <td class="delete-response">
                <a href="#">
                    <img class="delete-response-multipleChoice" src="~/Content/img/icon-minus.png">
                </a>
            </td>
        </tr>
    </table>
    <br />
    <div style="text-align:right">
        <button class="btn btn-success add-response-checbox"><i class="fa fa-plus-circle" style="padding-right:3px"></i>Add</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/createSurvey")
}
