@model FeedbackPlatform.Models.Response

<div id="commentBox" class="ridge" style="display:none">
    <div class="">
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control createSurveyInput" })
    </div>
</div>